  <br>
  <div class="container">
    <h2>My prepared meals</h2>
    <br>
    <% @user.meals.each do |meal| %>
      <div class="card-product">
      <img src="https://images.unsplash.com/photo-1581693363882-3f6df5c2b3f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80" />
        <div class="card-product-infos">
            <h3><%= meal.name %></h3>
            <p><strong>Description:</strong>&ensp;<%= meal.description %></p>
            <p><strong>Category:</strong>&ensp;<%= meal.category %></p>
            <p><strong>Quantity:</strong>&ensp;<%= meal.quantity %></p>
            <p><strong>Location:</strong>&ensp;<%= meal.location %></p>
            <p><strong>Price:</strong>&ensp;<%= meal.price %>€</p>
            <%= link_to 'check my dish', meal %>
        </div>
      </div>
      <br>
    <% end %>
  </div>

  <br>

  <div class="container">
    <h2>My orders</h2>
    <br>
    <% @user.orders.each do |order| %>
      <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
            <h3><%= order.meal.name %></h3>
            <p><strong>Description:</strong>&ensp;<%= order.meal.description %></p>
            <p><strong>Category:</strong>&ensp;<%= order.meal.category %></p>
            <p><strong>Quantity:</strong>&ensp;<%= order.meal.quantity %></p>
            <p><strong>Location:</strong>&ensp;<%= order.meal.location %></p>
            <p><strong>Price:</strong>&ensp;<%= order.meal.price %>€</p>
        </div>
      </div>
    <% end %>
  </div>

  <br>

  <div class="container">
    <h2>My infos</h2>
    <br>
      <div class="card-product">
        <div class="card-product-infos">
          <p><strong>My username:</strong>&ensp;<%= @user.username %></p>
          <br>
          <p><strong>My address:</strong>&ensp;<%= @user.address %></p>
          <br>
          <p><strong>My email:</strong>&ensp;<%= @user.email %></p>
        </div>
      </div>
  </div>
