  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-7">
        <h2>My prepared meals</h2>
        <br>
        <% @user.meals.each do |meal| %>
          <div class="card">
            <div class="card-img" style="background-image:url('<%= cl_image_path meal.photo.key %>');">
              <div class="overlay">
                <div class="overlay-content">
                  <%= link_to meal do %>
                  <p> See More </p>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="card-content">
              <a href="#!">
              <h2><%= meal.name %></h2>
              <p>Category:&ensp;<strong><%= meal.category %></strong></p>
                <div class="d-flex justify-content-between">
                <p>Quantity:&ensp;<strong><%= meal.quantity %></strong></p>
                <h4><strong><%= meal.price %>€</strong></h4>
                </div>
              </a>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-2">
        <br>
 <div class="card pmd-card text-center">
    <div class="card-body">
      <%= cl_image_tag user_avatar(current_user, 350), height: 150, width: 150, crop: :fill, class: "rounded-circle img-fluid mb-3" %>

        <!-- <img src="asset-url" width="150" height="150" class="rounded-circle img-fluid mb-3" title="" alt=""> -->
      <h2 class="card-title">My infos</h2>
      <br>
      <p><strong>My username:</strong>&ensp;<%= @user.username %></p>
      <p><strong>My address:</strong>&ensp;<%= @user.address %></p>
      <p><strong>My email:</strong>&ensp;<%= @user.email %></p>
      <%= link_to edit_user_registration_path(@user) do %>
      <p>Edit my profile</p>
      <% end %>
    </div>
  </div>
      </div>
      <div class="col-1">
      </div>
    </div>
  </div>

  <br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
      </div>
        <div class="col-7">
          <h2>My orders</h2>
          <br>
          <% @user.orders.each do |order| %>
            <div class="card-product">
              <% if order.meal.photo.attached? %>
                <%= cl_image_tag order.meal.photo.key, height: 300, width: 400, crop: :fill %>
              <% end %>
            <!-- <img src="https://images.unsplash.com/photo-1499125562588-29fb8a56b5d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" /> -->
              <div class="card-product-infos">
                <h3><%= order.meal.name %></h3>
                <p>Description:&ensp;<strong><%= order.meal.description %></strong></p>
                <p>Category:&ensp;<strong><%= order.meal.category %></strong></p>
                <p>Quantity:&ensp;<strong><%= order.meal.quantity %></strong></p>
                <p>Location:&ensp;<strong><%= order.meal.location %></strong></p>
                <p>Price:&ensp;<strong><%= order.meal.price %>€</strong></p>
                <%= link_to order do %>
                  <p>Show Recap </p>
                  <% end %>
              </div>
            </div>
            <br>
          <% end %>
        </div>
    </div>
    <div class="col-3">
    </div>
  </div>
