<h1>Order <%= @order.id %> Confirmée</h1>
<p> Recap </p>
<p><%= @order.meal.name %></p>
<% if @order.meal.photo.attached? %>
  <%= cl_image_tag @order.meal.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<p>Price: <%= @order.meal.price %> €</p>
<p>For <%= @order.meal.quantity %> people</p>
<p>Category: <%= @order.meal.category %></p>
<p>Location: <%= @order.meal.location %></p>
<p>The cook: <%= @order.meal.user.username %></p>



