<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1547573854-74d2a71d0826?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);">
  <div class="container">
    <h1>Your neighbours <br> make your food great again !</h1>
    <p>Enter your city to discover some awesome food</p>
    <%= form_with url: meals_path, html: {class: "algolia-form home"}, local: true, method: :get do |form| %>
      <div class="search-bar">
        <%= form.text_field :location, class:"search-input", placeholder:"A beautiful city", data: {toto: "titi"}%>
        <%= form.submit class:"search-button", value:"Search"%>
      </div>
    <% end %>
  </div>
</div>

<br>
<div class="bottom-side">
<div class= "container-cards">
<% 6.times do %>
  <% @meals.sample(1).each do |meal| %>
  <div class="card-trip">
    <%= link_to meal do %>
      <% if meal.photo.attached? %>
        <%= cl_image_tag meal.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <div class="card-trip-infos" data-id='<%= meal.id %>'>
        <div>
          <h2><%= meal.name %></h2>
          <p><%= meal.category %></p>
        </div>
        <div>
      <h3><%= meal.price %>€</h3>
      <% end %>
      </div>
      </div>
    </div>
    <% end %>
 <% end %>
</div>
