
<div class="full-container">
  <div class="left-menu">
  <%= form_with url: meals_path, html: {class: "algolia-form"}, local: true, method: :get do |form| %>
  <div class="search-bar-index">
    <%= form.text_field :location, class:"search-input" %>
    <%= form.submit class:"search-button", value:"Search" %>
  </div>
    <%= form.select :category, ["french", "chinese", "mexican", "japanese", "italian", "indian", "lebanese", "viet"] %>
    <% end %>
</div>
<% if @meals.present? %>
<h1 class="city">All meals in <%= @meals.first.location.capitalize %> :</h1>
<div class="right-side">
  <div class= "container-cards-index">
    <% @meals.each do |meal| %>
    <div class="card-trip-algolia" data-id='<%= meal.id %>'>
    <%= link_to meal do %>
      <% if meal.photo.attached? %>
      <%= cl_image_tag meal.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <div class="card-trip-algolia-infos">
        <div>
          <h2><%= meal.name %></h2>
          <p><%= meal.category %></p>
          <p><%= meal.location %></p>
        </div>
        <div>
          <h3><%= meal.price %>€</h3>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <% else %>
  <h2 class= "errorindex">Sorry, there is no results for your research !</h2>
  <% end %>
</div>
</div>
