<script type="text/javascript">
      window.algolia_application_id = '<%= ENV['ALGOLIA_APPLICATION_ID'] %>'
      window.algolia_search_only_api_key = '<%= ENV['ALGOLIA_SO_API_KEY'] %>';
    </script>

<div class="full-container">
  <div class="left-menu">

<!--City -->
<%= form_with url: meals_path, local: true, method: :get do |form| %>
      <div class="search-bar-index">
        <%= form.text_field :location, class:"search-input-index", placeholder: "Change your city" %>
        <%= form.submit class:"search-button-index", value:"Search"%>
      </div>
    <% end %>
    <div class="container-checkbox">
      <ul class="ks-cboxtags">
      <% Meal::CATEGORIES.each_with_index do |category, i| %>
      <!-- <li>
        <input type="checkbox" id="checkboxOne" value="Rainbow Dash">
        <label for="checkboxOne">Rainbow Dash</label>
      </li> -->
      <!-- <div class="checkbox-button"> -->
        <li>
        <input name="category[]" type="checkbox" id="category_<%= i %>" value="<%= category %>">
        <label for="category_<%= i %>"><%= category %></label>
        </li>
      <!-- </div> -->
        <% end %>
      </ul>
    </div>
</div>




<% if @meals.present? %>
<h1 class="city">All meals in <%= @meals.first.location.capitalize %> :</h1>
<div class="right-side">
  <div class= "container-cards-index">
    <% @meals.each do |meal| %>
    <div class="card-trip-algolia" data-id='<%= meal.id %>'>
    <%= link_to meal do %>
      <% if meal.photo.attached? %>
      <%= cl_image_tag meal.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <div class="card-trip-algolia-infos">
        <div>
          <h2><%= meal.name %></h2>
          <p><%= meal.category %></p>
          <p><%= meal.location %></p>
        </div>
        <div>
          <h3><%= meal.price %>€</h3>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <% else %>
  <h2 class= "errorindex">Sorry, there is no results for your research !</h2>
  <% end %>
</div>
</div>
