<h1>Add a new meal</h1>

<%= simple_form_for @meal do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :category, collection: ["french", "asian", "mexican", "disgusting"] %>
  <%= f.input :location %>
  <%= f.input :price, :input_html => { :type => "number" } %>
  <%= f.input :quantity, collection: 1..10 %>

  <%= f.button :submit, class: "btn-primary" %>
<% end %>
