<h1><%= @meal.name %></h1>
<p><%= @meal.description %></p>
<% if @meal.photo.attached? %>
<%= cl_image_tag @meal.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<p>Price: <%= @meal.price %> €</p>
<p>For <%= @meal.quantity %> people</p>
<p>Category: <%= @meal.category %></p>
<p>Location: <%= @meal.location %></p>
<p>The cook: <%= @meal.user.username %></p>

<p>
  <%= link_to meals_path do %>
  <i class="fas fa-backward">Back to the list</i>
  <% end %>
</p>

<p>
  <%= form_with url: meal_orders_path(@meal), local: true, method: :post do |form| %>
    <%= form.submit "Order this meal", class: "btn-primary", name:"Order this meal" %>
  <% end %>
</p>

