<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Click n' Food</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

    <script type="text/javascript">
      window.algolia_application_id = '<%= ENV['ALGOLIA_APPLICATION_ID'] %>'
      window.algolia_search_only_api_key = '<%= ENV['ALGOLIA_SO_API_KEY'] %>';
    </script>

  </head>
  <body>
    <!-- app/views/layouts/application.html.erb -->
    <%= render 'shared/navbar' %>

    <%= yield %>

    <%= render 'shared/footer' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
